/*********
 * Blue *
 *********/
$Blue-0: #e6f8ff;
$Blue-1: #baeaff;
$Blue-2: #91daff;
$Blue-3: #69c8ff;
$Blue-4: #40b3ff;
$Blue-5: #189afe;
$Blue-6: #0978d9;
$Blue-7: #0059b3;
$Blue-8: #00418c;
$Blue-9: #002c66;

/*********
 * Gray *
 *********/
$Gray-0: #f9fafb;
$Gray-1: #e5e7eb;
$Gray-2: #e5e7eb;
$Gray-3: #d1d5db;
$Gray-4: #9ca3af;
$Gray-5: #6b7280;
$Gray-6: #4b5563;
$Gray-7: #374151;
$Gray-8: #1f2937;
$Gray-9: #111827;

/*******
 * Red *
 *******/
$Red-1: #fff1f0;
$Red-2: #ffccc7;
$Red-3: #ffa39e;
$Red-4: #ff7875;
$Red-5: #ff4d4f;
$Red-6: #f5222d;
$Red-7: #cf1322;
$Red-8: #a8071a;
$Red-9: #820014;
$Red-10: #5c0011;
