/*********
 * Blue *
 *********/
$Blue-0: #e6f8ff;
$Blue-1: #baeaff;
$Blue-2: #91daff;
$Blue-3: #69c8ff;
$Blue-4: #40b3ff;
$Blue-5: #189afe;
$Blue-6: #0978d9;
$Blue-7: #0059b3;
$Blue-8: #00418c;
$Blue-9: #002c66;

/*********
 * Gray *
 *********/
$Gray-0: #f9fafb;
$Gray-1: #e5e7eb;
$Gray-2: #e5e7eb;
$Gray-3: #d1d5db;
$Gray-4: #9ca3af;
$Gray-5: #6b7280;
$Gray-6: #4b5563;
$Gray-7: #374151;
$Gray-8: #1f2937;
$Gray-9: #111827;
