$Size-9: 4.5rem; // 72px
$Size-8: 3.75rem; // 60px
$Size-7: 3rem; // 48px
$Size-7: 2.25rem; // 36px
$Size-6: 1.875rem; // 30px
$Size-5: 1.5rem; // 24px
$Size-4: 1.25rem; // 20px
$Size-3: 1.125rem; // 18px
$Size-2: 1rem; // 16px
$Size-1: 0.875rem; // 14px
$Size-0: 0.75rem; // 12px

$Thin: 100;
$Extra-Light: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$Semibold: 600;
$Bold: 600;
$ExtraBold: 700;
$Black: 800;
