$Size-12: 4.5rem; // 72px
$Size-11: 3.75rem; // 60px
$Size-10: 3rem; // 48px
$Size-9: 2.25rem; // 36px
$Size-8: 1.875rem; // 30px
$Size-7: 1.5rem; // 24px
$Size-6: 1.25rem; // 20px
$Size-5: 1rem; // 16px
$Size-4: 0.875rem; // 14px
$Size-3: 0.75rem; // 12px
$Size-2: 0.625rem; // 10px
$Size-1: 0.5rem; // 8px
$Size-0: 0.25rem; // 4px
