@use '../styles/colors.scss';
@use '../styles/fonts.scss';
.tag-editor-section {
  padding: 0;
}

.tag-editor-container {
  border: 1px solid colors.$Gray-8;
  border-radius: 4px;
}

.tag-editor-focused {
  border: 1px solid #0978d9;
  box-shadow: 0px 0px 0px 2px rgba(9, 120, 217, 0.3);
  outline: none;
}

.tag-editor-input {
  outline: none;
  border: none;
  min-width: 1rem;
}

.tag-suggestions {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: color;
  width: 100%;
}

.tag-suggestions__list {
  display: flex;
  // allow items to fill rows if it exceeds the width of the parent
  flex-wrap: wrap;
  flex-direction: row;
  // just enough spacing to avoid overflow onto tag input container
  margin-top: 3px;
  list-style-type: none;
  padding: 0;
}

.tag-suggestions__list-item {
  // we want three items per row
  flex-basis: 29%;
  // when there is enough space, the item should fill the remaining space, rather than the percentage we specify
  flex-grow: 1;
  max-height: 150px;
  font-size: fonts.$Size-0;
  // allows us to set flexbox props on item information
  display: flex;
  flex-direction: column;

  padding: 1em;
  cursor: pointer;
  margin-bottom: 0px;
  border-radius: 4px;
}
.tag-suggestions__list-item:hover {
  background-color: rgba(236, 238, 241, 0.7);
}
.tag-suggestions__list-item:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(9, 120, 217, 0.3);
  background-color: colors.$Gray-1;
}

.tag-suggestions__header {
  display: inline-grid;
  grid-template-rows: 1fr;
  // tag should be allowed to have 100% of its content visible, the rest of the space is distributed equally
  grid-template-columns: fit-content(100%) 1fr 1fr;
  padding-bottom: 0.5rem;
  align-items: center;
}

.tag-suggestions__count {
  // if the count is high, abbreviate the overflow
  // that's a sign that we're doing things right in this app
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 8px;
}

.tag-suggestions__info {
  // flex combined with margin-auto is translated as the following:
  // margin-x: auto, push the element away from that direction
  // source: https://css-tricks.com/the-peculiar-magic-of-flexbox-and-auto-margins/
  display: inline-flex;
  margin-left: auto;
}

.tag-suggestions__body {
  // put ellipsis on text past n-lines long
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: fonts.$Size-4;
}

// on small screens, we should not display all the tag suggestion info
@media screen and (max-width: 25em) {
  .tag-suggestions__header {
    // just want to show the tags, no other info so we only need 1 column
    grid-template-columns: 1fr;
  }
  .tag-suggestions__list-item {
    align-items: center;
  }
  .tag-suggestions__count {
    display: none;
  }
  .tag-suggestions__info {
    display: none;
  }
  .tag-suggestions__body {
    display: none;
  }
}
